body {
    background-color: rgb(192, 170, 255) !important;
}
h1 {
    font-size: 10vh !important;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.back-white {
    background-color: white !important;
}
.reponsive-container {
    display: flex;
    width: 84vw; /* fullscreen width */
    height: 84vh; /* fullscreen height */
}
.margin-custom {
    margin-top: 7%;
    margin-right: 7%;
    margin-left: 7%;
    margin-bottom: 7%;
}
.custom-btn {
    width: 50%;
    height: 50px;
}
.circle-btn {
    width: 10vh;
    height: 10vh;
}
svg {
    fill: white;
}
a {
    color: white !important;
    font-weight: bold;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #7289da;
    text-decoration: none !important;
    
    &:hover {
      background-color: #6a7fc9;
    }
}

.parent {
    display: flex;
    flex-direction: column;
}
.child {
    margin-top: auto;
}
.middleDiv {
    position:fixed;
    top: 40%;
    width: 80%;
}
.custom-input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh !important;
    width: 100%;
}

.btn-circle {
    width: 100px;
    height: 100px;
    padding: 13px 18px;
    border-radius: 60px;
    font-size: 5vh;
    text-align: center;
}

.custom-check {
    width: 30px;
    height: 30px;
    padding-right: 30px;
}